

body {
  margin: 0;
  color: antiquewhite !important;
  background-color: #01d4fe;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav, section, main {
  background-color: #01d4fe;
}

nav {
  padding: 1rem;
}

.header {
  padding: 1rem;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,198,217,1) 35%, rgba(0,212,255,1) 100%);

}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

h1, h2, p, .co2 {
  text-shadow: 1rem !important;
  text-align: right;
}

h3 {
  margin: 0;
  font-size: small !important;
  color: antiquewhite;
}

a, a:active, a:hover {
  color: antiquewhite !important;
  text-decoration: none !important; 
}

.first, .header {
  background-color: #01d4fe;
}

.second {
  background-color: #38c6d9;
}

.third {
    background-color: #164967;
  }

.fourth {
  background-color: #020125;
}

.arrow-icon {
  text-align: right;
  margin-left: auto;
}

